body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: #a2d2ff;
    color: #ffffff;
    background: linear-gradient(#a2d2ff, #f7c4c4);
}
#nick{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border:6px  solid #f7c4c4;


}
.img2{
    width:400px ;
    height: 400px;
    border: 6px solid #ffffff;
    border-radius: 10px;
    background-image: url("image/cover\ \(2\).jfif");
    background-size: cover;
    margin: 0 auto;


}
#gift-image:hover{
    background-image: url("image/giphy.webp");
}
#gift-image-1:hover{
    background-image: url("image/200.webp");

}
#gift-image-2:hover{
    background-image: url("image/200 (1).webp");
} 
#gift-image-3:hover{
    background-image: url("image/200 (2).webp");
}    
#gift-image-4:hover{
    background-image: url("image/giphy\ \(1\).webp");
    background-size: cover;
}    
#gh2{
    background-color: #f7c4c4;
    margin: 5px 0 10px 0;
    padding:5px 10px;
    border-radius: 10px;
   
}
#gh4{
    background-color: #f7c4c4;
    margin: 0;
    padding:5px 10px;
    border-radius: 10px;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img3{
    width:400px ;
    height: 200px;
    border: 6px solid #ffffff;
    border-radius: 10px;
    background-image: url("image/cover\ \(2\).jfif");
    background-size: cover;
    margin: 0 auto;
}    
#footer{
    background-color: #f7c4c4;
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}